.filterBar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 50px;
    background-color: rgb(59, 56, 56);
    
}

h2{
    margin-right: 20px;
}

input {
    height: 30px;
    width: 170px; 
    outline: none;
}